/* mobile viewport settings */

$desktop-viewport-width: 768px;

$menu-bg-color: #B71C1C;
$menu-default-transition: all 0.2s ease;

$menu-off-canvas-height: 100%;
$menu-off-canvas-width: 80%;
$menu-off-canvas-overlay-opacity: 0.5;
$menu-off-canvas-overlay-color: black;
$menu-off-canvas-overlay-z-index: 999;

$hamburger-menu-width: 52px;
$hamburger-menu-height: 52px;
$hamburger-menu-z-index: 1000;

$menu-link-font-size: 18px;
$menu-link-padding: 12px;
$menu-link-font-color: #fff;

$menu-link-hover-bg-color: #D32F2F;
$menu-link-hover-font-color: #fff;

$submenu-left-margin: 10px;
$submenu-default-transition: all 0.3s ease;
$submenu-first-child-transition: all 0.5s ease;

/* desktop viewport settings */

$hamburger-menu-position-left: 20%;
$hamburger-menu-transition-delay: 1s;
$hamburger-menu-hover-transition-delay: 0.15s;
$hamburger-menu-first-child-transition-delay: 0.5s;

$menu-link-desktop-font-size: 26px;
$menu-link-desktop-line-height: 28px;
$menu-link-min-width: 200px;

$flyout-link-desktop-font-size: 22px;
$flyout-link-desktop-line-height: 24px;

$flyout-z-index: 1001;
$flyout-transition: visibility 0s linear 0s,opacity 0.2s ease;

$submenu-transition: visibility 0s linear 0.5s,opacity 0.5s cubic-bezier(1,0,0.58,1);

@mixin mobile-active {
  height: $menu-off-canvas-height;
  width: $menu-off-canvas-width;
  overflow-y: scroll;
  & > li {
    visibility: visible;
  }
  & + div.overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: $menu-off-canvas-overlay-opacity;
    background: $menu-off-canvas-overlay-color;
    z-index: $menu-off-canvas-overlay-z-index;
  }
}

input.menu-trigger {
  position: fixed;
  left: 0;
  top: 0;
  height: $hamburger-menu-height+1;
  width: $hamburger-menu-width;
  z-index: $hamburger-menu-z-index+1;
  opacity: 0;
  cursor: pointer;
}

ul.menu {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  height: $hamburger-menu-height;
  width: $hamburger-menu-width;
  padding: 0;
  margin: 0;
  list-style-type: none;
  background: $menu-bg-color;
  transition: $menu-default-transition;
  z-index: $hamburger-menu-z-index;
  li {
    a {
      display: block;
      font-size: $menu-link-font-size;
      line-height: $menu-link-font-size;
      padding: $menu-link-padding;
      color: $menu-link-font-color;
      text-decoration: none;
      transition: $menu-default-transition;
      &:hover {
        background: $menu-link-hover-bg-color;
        color: $menu-link-hover-font-color;
      }
    }
    ul {
      padding: 0;
      margin: 0;
      list-style-type: none;
      margin-left: $submenu-left-margin;
      transition: $submenu-default-transition;
    }
  }
  & > li {
    visibility: hidden;
    transition: $submenu-first-child-transition;
  }
  & > li.start {
    position: fixed;
    visibility: visible;
    background: $menu-bg-color;
    text-align: center;
    a {
      width: $hamburger-menu-width;
      height: $hamburger-menu-height;
      text-align: center;
      padding: 0;
    }
    & + li {
      margin-top: $hamburger-menu-height;
    }
  }
  &:hover {
    @include mobile-active;
  }
}

input.menu-trigger:checked + ul.menu {
  @include mobile-active;
  & > li.start {
    background: $menu-link-hover-bg-color;
  }
}

div.overlay {
  opacity: 0;
  transition: $menu-default-transition;
}

@mixin desktop-active {
  left: 0;
  height: $hamburger-menu-height;
  width: 100%;
  padding-left: $hamburger-menu-position-left;
  overflow: visible;
  transition-delay: $hamburger-menu-hover-transition-delay;
  & > li {
    visibility: visible;
    opacity: 1;
    transition-delay: $hamburger-menu-hover-transition-delay;
  }
}

@media screen and (min-width: $desktop-viewport-width) {
  input.menu-trigger {
    left: $hamburger-menu-position-left;
    margin-left: -$hamburger-menu-width;
  }

  ul.menu {
    left: $hamburger-menu-position-left;
    margin-left: -$hamburger-menu-width;
    overflow: visible;
    transition-delay: $hamburger-menu-transition-delay;
    &:hover {
      @include desktop-active;
    }
    & > li {
      position: relative;
      float: left;
      opacity: 0;
      visibility: hidden;
      transition: $submenu-first-child-transition, visibility 0s linear;
      transition-delay: $hamburger-menu-first-child-transition-delay;
      & > ul {
        top: 100%!important;
        left: 0!important;
        li {
          a {
            font-size: $flyout-link-desktop-font-size;
            line-height: $flyout-link-desktop-line-height;
          }
        }
      }
      &:hover {
        & > ul {
          top: 100%!important;
          left: 0!important;
          opacity: 1;
          li {
            position: relative;
            width: 100%;
            &:hover {
              & > ul {
                opacity: 1;
              }
            }
          }
        }
      }
    }
    & > li.start {
      position: relative;
      opacity: 1;
      visibility: visible;
      & + li {
        margin-top: 0;
      }
    }
    li {
      ul {
        position: absolute;
        opacity: 0;
        margin-left: 0;
        min-width: $menu-link-min-width;
        visibility: hidden;
        background: $menu-bg-color;
        transition: $submenu-transition;
        top: 0;
        left: 100%;
        li {
          position: relative;
          white-space: nowrap;
        }
      }
      a {
        font-size: $menu-link-desktop-font-size;
        line-height: $menu-link-desktop-line-height;
      }
      &:hover {
        ul {
          z-index: $flyout-z-index;
          transition: $flyout-transition;
        }
        & > ul {
          visibility: visible;
        }
      }
    }
  }

  input.menu-trigger:checked + ul.menu {
    @include desktop-active;
  }

  div.overlay {
    display: none;
  }
}